@mixin circle($r) {
  width: $r;
  height: $r;
  border-radius: 50%;
}

@mixin focus-ring {
  outline: 3px solid var(--color-blue-200);
  outline-offset: 2px;
}

@mixin tablet {
  @media (min-width: 912px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
